@use '../variables/' as var;

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Small devices
@mixin xsm {
	@media (min-width: #{var.$screen-xsm-min}) {
		@content;
	}
 }

// Small devices 500px
@mixin sm {
	@media (min-width: #{var.$screen-sm-min}) {
		@content;
	}
 }
 
 // Medium devices
 @mixin md {
	@media (min-width: #{var.$screen-md-min}) {
		@content;
	}
 }
 
 // Large devices
 @mixin lg {
	@media (min-width: #{var.$screen-lg-min}) {
		@content;
	}
 }
 
 // Extra large devices
 @mixin xl {
	@media (max-width: #{bp.$screen-xl-max}) {
		@content;
	}
 }